$typewriter-width: 9em;

app-main {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  
  .typewriter {
    position: relative; 
    width: $typewriter-width;
    margin: 0 auto;
    border-right: 2px solid #FA3869;
    letter-spacing: .10em;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);    
  }

  .animate-typing{
    animation: typing 3.5s steps(30, end),
    blinking-cursor .5s steps(20) infinite normal;
  }
  
  @keyframes typing{
    from{width: 0;}
    to{width: $typewriter-width;}
  }

  @keyframes blinking-cursor {
    from, to { border-color: transparent }
      50% { border-color: #FA3869; }
  }
}