<div class="w-full h-full flex items-center justify-center bg-primary-800">
  <div class="flex flex-col gap-2 items-center justify-center text-zinc-100">
    <span class="">Hello, Kumusta?</span>
    <div class="flex flex-col border-b pb-5">
      <div class="flex text-[63px] leading-none">
        <span>I'm</span>
        <span class="text-accent-500 font-semibold ml-2">Chelsea</span>
        <span>.</span>
      </div>
      <div class="flex justify-center text-xl text-zinc-400">
        I develop awesome stuff for the web
      </div>
    </div>
    <div class="w-80 text-sm text-zinc-400 text-justify">
      I am a software developer with hands-on experience in <span class="text-accent-400 inline">front-end development</span> who aims to create innovative solutions geared towards enhancing user experience.
    </div>
  </div>
</div>